<footer>
  <div class="container_footer">
    <div class="right">
      &copy; 2026 Maakaan &middot;
      <a class="f-info" href="/privacy">Privacy </a>
      &middot;
      <a class="f-info" href="/terms">Terms</a>
    </div>
    <div class="social_links">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>
