<% layout("/layouts/boilerplate") %>
<div class="container text-center">
  <div class="col align-self-center">
    <div class="alert alert-danger" role="alert">
      <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill" />
      </svg> -->
      <h3>Status Code: <%= statusCode %></h3>
      <h4><%= message %></h4>
      <!-- <a href="/listing" class="btn btn-primary">Go Back to Listings</a> -->
    </div>
  </div>
</div>
